# Data Sience Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List commonly used libraries by Data Scientists.
* List some of the most used Data Science Tools.
* Show examples of arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. C++
5. Java

Some of the commonly used libraries by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow

|Data Science Tools|
|------------------|
|MySQL|
|Apache Spark|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours dividing by 60.

200/60

3.3333333333333335

## Author

Juan Manuel SÃ¡nchez Granados